<div class="credly">
    <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="3feaed86-9e9b-44d0-b106-889f335bd343" data-share-badge-host="https://www.credly.com"></div>
    <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="e8afb6dd-944c-40c2-a474-03f4251917e8" data-share-badge-host="https://www.credly.com"></div>
    <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="2dc0b157-f64d-4af9-88ad-d9ad0aeecfe0" data-share-badge-host="https://www.credly.com"></div>
    <div data-iframe-width="150" data-iframe-height="270" data-share-badge-id="c4ac2903-4bfa-4929-b59e-c22ec64c713b" data-share-badge-host="https://www.credly.com"></div>
    
</div>
<script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>

