[General]
Url=https://dev.azure.com/MART/project
Username=me@example.com
Password= ## Use Azure Devops to generate a Personal Access Token with rights: Code: Read/Write, and Packaging: Read#

[LocalGitConfig]
GitPath=C:\Git\
OrgName=MART

[GitOptions]
PruneLocalBranches=false # Optional defaults to false
GitEmail=username@corperate.com