{{- if not (.Param "hideAuthorIntro") }}
<div class="author-intro">
  <img src="{{ .Site.Params.profileMode.imageUrl }}" alt="Mart de Graaf" class="author-avatar" />
  <div class="author-intro-content">
    <h2 class="author-name">Mart de Graaf</h2>
    <p class="author-tagline">Microsoft Certified Azure Solutions Architect & DevOps Engineer specializing in .NET and Azure cloud solutions.</p>
    
    <div class="author-certifications-wrapper">
      <div class="author-certifications">
        <img src="/images/cert-azure-administrator-associate-600x600.png" 
             alt="Microsoft Certified: Azure Administrator Associate" 
             title="Microsoft Certified: Azure Administrator Associate"
             class="cert-badge" />
        <img src="/images/cert-azure-solutions-architect-expert-600x600.png" 
             alt="Microsoft Certified: Azure Solutions Architect Expert" 
             title="Microsoft Certified: Azure Solutions Architect Expert"
             class="cert-badge" />
        <img src="/images/azure-developer-associate-600x600.png" 
             alt="Microsoft Certified: Azure Developer Associate" 
             title="Microsoft Certified: Azure Developer Associate"
             class="cert-badge" />
        <img src="/images/CERT-Expert-DevOps-Engineer-600x600.png" 
             alt="Microsoft Certified: DevOps Engineer Expert" 
             title="Microsoft Certified: DevOps Engineer Expert"
             class="cert-badge" />
        <img src="/images/azure-security-engineer-associate600x600.png" 
             alt="Microsoft Certified: Azure Security Engineer Associate" 
             title="Microsoft Certified: Azure Security Engineer Associate"
             class="cert-badge" />
      </div>
      
      <a href="/about" class="author-read-more">READ MORE</a>
    </div>
  </div>
</div>
{{- end }}
